<p>
  L'application de Théo est géniale ! Cliquez sur un todo pour voir les détails.
</p>

<ul class="todos">
  <li *ngFor="let todo of todos" (click)="onSelect(todo)">
    <span class="badge">{{ todo.id }}</span> {{ todo.name }}
  </li>
</ul>

<hr />

<div *ngIf="selectedTodo">
  <h3>{{ selectedTodo.name }}, les détails</h3>
  <div><span>id: </span>{{ selectedTodo.id }}</div>
  <div>
    À faire avant :
    {{ selectedTodo.deadline }}
  </div>
  <div>
    Commentaire :
    <em>
      {{ selectedTodo.detail }}
    </em>
  </div>
  <div>
    Statut:
    <b>
      {{ statusToString(selectedTodo) }}
    </b>
  </div>
</div>
